{% extends "theater/layout.html" %}

{% block body %}

        <table class="cart" >
            <thead>
            <tr>
                <th class="coll_id">Order ID</th>
                <th class="status">Статус</th>
                <th class="coll_date">Дата оформления</th>
                <th class="price">Цена</th>
                <th class="coll_title">Спектакль</th>
                <th class="date">Дата</th>
                <th class="coll_time">Время</th>
                <th class="coll_sector">Сектор</th>
                <th>Ряд</th>
                <th>Место</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td class="coll_id">{{ order.id }}</td>
                    <td class="status">
                        {% if order.status.id == 3 %}
                            <b>{{ order.status }}:</b>
                            <p>Билет отправлен вам на почту</p>
                        {% else %}
                            <b>{{ order.status }}</b>
                        {% endif %}
                    </td>
                    <td class="coll_date">{{ order.create_date }}</td>
                    <td class="price">{{ order.total_price }}</td>
                    <td class="coll_title">
                        {% for orderht in orderhts %}
                            {% if order.id == orderht.order.id %}
                            <p>{{ orderht.ticket.performance.title }}</p>
                            <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="date">
                        {% for orderht in orderhts %}
                            {% if order.id == orderht.order.id %}
                                <p>{{ orderht.ticket.performance.date }}</p>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for orderht in orderhts %}
                            {% if order.id == orderht.order.id %}
                                <p>{{ orderht.ticket.performance.time }}</p>
                                <br>
                            {% endif %}
                    {% endfor %}
                    </td>
                    <td>
                        {% for orderht in orderhts %}
                            {% if order.id == orderht.order.id %}
                                <p>{{ orderht.ticket.sector.name }}</p>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for orderht in orderhts %}
                            {% if order.id == orderht.order.id %}
                                <p>{{ orderht.ticket.row.number }}</p>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for orderht in orderhts %}
                            {% if order.id == orderht.order.id %}
                                <p>{{ orderht.ticket.seat.number }}</p>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}